@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');

* {
  box-sizing: border-box;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

#size {
  border: 1px solid red;
  width: 6rem;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#main {
  display: flex;
}

#imc {
  background-color: #e6a733;
  width: 22rem;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}
header {
  border-bottom: 2px solid black;
  text-align: center;
}

#dados {
  text-align: left;
  margin: 10px 50px;
  font-family: 'Roboto', sans-serif;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
}
#btn {
  background: black;
  color: #c7a360;
  font-size: 1.5rem;
  width: 15rem;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}
#res {
  background-color: black;
  width: 15rem;
  height: 10rem;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 10px black;
  color: aliceblue;
  padding: 10px;
}
